<% if @order.errors.any? %>
    <ul>
        <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<h1>Editar Pedido</h1>

<%= render 'form' %>

<%= link_to 'Voltar', root_path %>